<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhq.codegeneration.mapper.DataBaseColumnMapper">

    <select id="selectListByParam" resultType="com.hhq.codegeneration.po.DataBaseColumnPO">
        SELECT * FROM information_schema.columns
        <where>
            <if test="tableSchema !=null and tableSchema!=''">
                and table_schema = #{tableSchema}
            </if>
            <if test="tableName!=null and tableName!=''">
                and table_name = #{tableName}
            </if>
            <if test="columnName !=null and columnName !=''">
                and column_name = #{columnName}
            </if>
        </where>
    </select>
</mapper>

